.header{
   min-height: 50px;
   display: flex;
   background-color:none;  
   z-index: 10;
}
.navheader{
    padding: 25px;
    margin-left: 30px;
}

.navheader a{
    padding: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.active {
    color: rgb(222, 255, 10);
    border-bottom: 2.3px solid mediumseagreen;
    padding-bottom: 20px;
}

.logo img{
  position: absolute;
  height: 35px;
  width: 35px;
  margin-left: 325px;
  padding: 13px;
  z-index: 10;
}
.currency{
    display: flex;
    padding: 15px;
    margin-left: 800px;
}
.circule{
    width: 17px;
    height: 17px;
    margin-top: 12px;
    margin-left: -25px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    z-index: 110;
 }
.circuleItem{
   margin-left: 4px;
   z-index: 115;
}

